# dependencies
node_modules/
.pnpm-store/

# build output
.next/
out/
dist/
.turbo/

# env
.env
.env.local
.env.*.local

# testing
coverage/
playwright-report/
test-results/

# supabase
.branches/
.temp/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/

# vercel
.vercel/
